*{
    margin: 0;
    background-color: antiquewhite;
}

.blog {
    background-color: cadetblue;
    padding: 10px;
    margin: 30px;
    border: 5px solid black;
    display: inline-block;
    width: 20%;
    align-items: center;
}

p {
    background-color: cadetblue;
}